.visualBoxWrapper {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-image: url(../../assets/images/hitech.jpg);
  background-size: cover;
  background-position: 50% 20%;

  z-index: -1;
}

.visualBoxWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  background-color: rgba(11, 39, 55, 0.5);
}

.siteDescription {
  margin: 0 10%;
  z-index: 0;
  color: #fff;
}

.siteDescription h1 {
  color: #fff;
}
